* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1489386659872-204f4f861691?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D) no-repeat 0 0;
    background-size: cover;
}

.nav a {
    margin-left: 2rem;
    color: wheat;
}

.big-text {
    margin-top: 40px;
    font-size: 3rem;
    color: darkgoldenrod;
}