body {
    margin: 0;
    padding: 0;
    /* color: #fff; */
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;

}

.navbar {
    margin-top: 3%;

}

.navbar-brand {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 10%;
}

.nav {
    margin-right: 10%;
}

.nav li a {
    color: #aaa;
    font-size: 1em;
}

.banner .info {
    margin-top: 15%;
    transform: translateY(-15%);
}

.banner .info h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.banner .info p {
    font-size: 2em;
    font-weight: 500;
    color: #aaa;
    letter-spacing: 2px;
}

.banner .info a {
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #e91d43;
    padding: 10pX 20px;
}
.banner .info a :hover {
    background: #70545d;
}